@{
    ViewData["Title"] = "Results Page";
}

@model ResultViewModel

<h2>Here is the result</h2>
<hr>

<img src="@Model.filePath" alt="The given image" class="result-image" />
<span>@Model.filePath</span>
<hr>
<h3>Raw Json</h3>
<p>@Model.jsonResult</p>
<hr>
<h3>Parsed Json</h3>
<ul>
@foreach (var result in @Model.results) {
    <li>@result.Score</li>
}
</ul>